<div class='container'>

  <h3 class='p-3 text-centre'> Greenhouse Temperatures </h3>
  <div id="chart" style="width: auto; height: 600px;"></div>

  <!--table>
    <thead>
      <tr>
        <th>Date/Time</th>
        <th>Temp out</th>
        <th>Temp in</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @measures.each do |measure| %>
        <tr>
          <td><%= measure.created_at.strftime("%d %b @ %H:%M")%>
          <td><%= measure.temp_out %></td>
          <td><%= measure.temp_in %></td>
          <td><%= link_to 'Show', measure %></td>
          <td><%= link_to 'Edit', edit_measure_path(measure) %></td>
          <td><%= link_to 'Destroy', measure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table-->


  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  
  <%= javascript_tag do -%>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = JSON.parse('<%= @temp.to_json.html_safe -%>');
      data = [['Time', 'Outside Temp', 'Inside Temp']].concat(data);
      data = google.visualization.arrayToDataTable(data);
      var options = {
          title: 'Outside Tempreture',
          subtitle: "Celcius",
          legend: {position: 'bottom'}
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart'));
      chart.draw(data, options);
    }
  <% end -%>

  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <h2>Humidity</h2>
    <% unless @measures[0].nil? %>
      <h3> Humidity Inside: <%=@measures[0].humidity_in%></h3>
      <h3> Humidity Outside: <%=@measures[0].humidity_out%></h3>
    <% end %>
  </div>
  
  <%= link_to 'Remove All', remove_all_measures_path, class: 'btn btn-sm btn-outline-danger' %>
  

</div>
