<div class='container'>

  <h3 class='p-3 text-center'> Greenhouse Live Data </h3>

  <p>Current Weather: <%=@weather_data ['currently']['summary']%></p>
  <p>Current Tempreture: <%=@weather_data ['currently']['temperature']%>&#8451;  Feels like: <%=@weather_data ['currently']['apparentTemperature']%>&#8451;</p>
  <p>Percipitation: <%=@weather_data ['currently']['precipProbability'] * 100%>&#37; chance of <%=@weather_data ['currently']['precipType']%></p>

  <%=@weather_data%>
  


  <div id='latest_data' class="jumbotron p-1 p-md-5 text-white text-center rounded bg-dark">
    <h2 class = 'orbitron p-3'>Latest Data</h2>
    <% unless @measures[0].nil? %>
      <div class='row'>
        <h5 class = 'col-md-6 col-xs-6 orbitron'> Temperature: </h5>
        <div class = 'col-md-6 col-xs-6'>
          <p class = 'orbitron text-left'> Inside Greenhouse:  <%=@measures[0].temp_in%>&#8451;</p>
          <p class = 'orbitron text-left'> Outside Greenhouse:  <%=@measures[0].temp_out%>&#8451;</p>
        </div>
      </div>
      <div class='row'>
        <h5 class = 'col-md-6 col-xs-6 orbitron'> Humidity: </h5>
        <div class = 'col-md-6 col-xs-6'>
          <p class = 'orbitron text-left'> Humidity Inside:  <%=@measures[0].humidity_in%>%</p>
          <p class = 'orbitron text-left'> Humidity Outside:  <%=@measures[0].humidity_out%>%</p>
        </div>
      </div>
      <div class='row'>
        <h5 class = 'col-md-6 col-xs-6 orbitron'> Soil Moisture - Tomatoes: </h5>
        <div class = 'col-md-6 col-xs-6'>
        
          <%if @measures[0].soil_moisture == 0%>
             <p class = 'orbitron text-left test-success'> The Soil is currently WET </p>
          <% elsif @measures[0].soil_moisture == 1%>
            <p class = 'orbitron text-left test-danger'> The Soil is currently DRY </p>
          <% elsif @measures[0].soil_moisture == 3%>
            <p class = 'orbitron text-left test-primary'> The Soil is currently VERY WET </p>
          <%end%>
          
        </div>
      </div>
  
        <p class = 'orbitron text-center'>Last Updated: <%=@measures[0].created_at%></p>
      
      <div class='row'>
        <div class = 'col-md-6 col-xs-6'><%= link_to 'Water Greenhouse', pump_set_pump_status_path(:status => "|1|"), class: 'btn btn-sm btn-outline-success' %></div>
        <div class = 'col-md-6 col-xs-6'><%= link_to 'Stop Watering Greenhouse', pump_set_pump_status_path(:status => "|0|"), class: 'btn btn-sm btn-outline-danger' %></div>
      </div>
    <% end %>
    
  </div>


  <%= line_chart charts_hour_temp_out_path, refresh: 60, xtitle: "Time", ytitle: "Temperature", messages:{empty: "Sorry.... No Data Yet!"}%>
  <%= line_chart charts_hour_temp_in_path, refresh: 60, xtitle: "Time", ytitle: "Temperature", messages:{empty: "Sorry.... No Data Yet!"}%>
  <%= line_chart charts_hour_humidity_out_path, refresh: 60, xtitle: "Time", ytitle: "Humidity", suffix: "%", messages:{empty: "Sorry.... No Data Yet!"}%>
  <%= line_chart charts_hour_humidity_in_path, refresh: 60, xtitle: "Time", ytitle: "Humidity", suffix: "%", messages:{empty: "Sorry.... No Data Yet!"}%>

  <%= link_to 'Remove All', remove_all_measures_path, class: 'btn btn-sm btn-outline-danger' %>

  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Temp_Out</th>
        <th scope='col'>Temp_In</th>
        <th scope='col'>Humidity_Out</th>
        <th scope='col'>Humidity_In</th>
      </tr>
    </thead>
    <tbody>
      <% @measures.each do |measure|%>
      <tr>
        <td><%= measure.id %></td>
        <td><%= measure.temp_out%></td>
        <td><%= measure.temp_in%></td>
        <td><%= measure.humidity_out%></td>
        <td><%= measure.humidity_in%></td>
      </tr>
      <% end %>
    <tbody>
  </table>

</div>


<!--div id="chart" style="width: auto; height: 600px;"></div-->

  <!--table>
    <thead>
      <tr>
        <th>Date/Time</th>
        <th>Temp out</th>
        <th>Temp in</th>
        <th colspan="3"></th>
      </tr>
    </thead>
bundle config --delete bin    # Turn off Bundler's stub generator
  rails app:update:bin          # Use the new Rails executables
  git add bin             
    <tbody>
      <% @measures.each do |measure| %>
        <tr>
          <td><%= measure.created_at.strftime("%d %b @ %H:%M")%>
          <td><%= measure.temp_out %></td>
          <td><%= measure.temp_in %></td>
          <td><%= link_to 'Show', measure %></td>
          <td><%= link_to 'Edit', edit_measure_path(measure) %></td>
          <td><%= link_to 'Destroy', measure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table-->


  <!--script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script-->
  
  <!--%= javascript_tag do -%>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = JSON.parse('<%= @temp.to_json.html_safe -%>');
      data = [['Time', 'Outside Temp', 'Inside Temp']].concat(data);
      data = google.visualization.arrayToDataTable(data);
      var options = {
          title: 'Outside Tempreture',
          subtitle: "Celcius",
          legend: {position: 'bottom'}
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart'));
      chart.draw(data, options);
    }
    <% end -%-->