<div class='container'>
<h6 class='text-center'><%= @online%></h6>
  <h2 class='p-3 text-center'> Garden Live Data </h2>

  <div id='latest_data' class="jumbotron p-1 p-md-5 text-center text-white rounded bg-secondary">
    <h3 class='mb-4'>Watering System</h3>
    <p> Pump Status: <%= @measures[0].pump_status%>
    <div class='row'>
          <div class = 'col-md-4'>
            <%= link_to 'Garden & Green House', pump_set_pump_status_path(:status => "|1|"), class: 'btn btn-lg btn-block btn-outline-success' %>
            <p class = 'my-0 pl-0 py-2 text-center text-md-left'>Garden pots (not including raised beds) will be watered for 5mins followed by the Green House for a further 5mins.</p>
          </div>
          <div class = 'col-md-4'>
            <%= link_to 'Green House', pump_set_pump_status_path(:status => "|2|"), class: 'btn btn-lg btn-block btn-outline-success' %>
            <p class = 'my-0 pl-0 py-2 text-center text-md-left'>Water the Green House only for 5mins.</p>
          </div>
          <div class = 'col-md-4'>
            <%= link_to 'Stop Watering', pump_set_pump_status_path(:status => "|0|"), class: 'btn btn-lg btn-block btn-outline-danger' %>
            <p class = 'my-0 pl-0 py-2 text-center text-md-left'> Watering stops automatically - but just incase.......</p>
          </div>
    </div> <!-- row -->
  </div>

  <div id='latest_data' class="jumbotron p-1 p-md-5 text-center rounded bg-light">
    <h3 class='mb-4'>Local Current & Forecasted Weather</h3>
    
    <div class='row'> 
      <div class = 'col-md-4'>
        <h5 class = 'mx-auto my-auto'><i class='<%=@current_icon%> icon-lg'></i></h5>
        <h5 class = 'mx-auto my-auto'> <%=@current_time.strftime("%a %d %b %y")%></h5>
        <p><%=@timezone%></p>
      </div>
      <div class = 'col-md-8'>
        <div id='latest_data' class="jumbotron py-1 text-center rounded">
            <h5 class = 'mx-auto'>Current conditions: <em class='font-weight-light'><%=@current_summary%></em></h5>
    
            <div class ='row border-top'>
              <div class = 'col-md-1 d-none d-md-block'>
                <span class='mx-auto px-3 pe-7w-thermometer-full icon-xs'></span>
              </div>
              <div class = 'col-md-5'>
                <p class = 'my-0 pl-0 py-2 text-center text-md-left'>Temperature: <%= @current_temp%>&#8451;</p>
              </div>
              <div class = 'col-md-1 d-none d-md-block'>
                <span class='mx-auto px-3 pe-7w-thermometer-1-4 icon-xs'>  </span>
              </div>  
              <div class = 'col-md-5'>
                <p class = 'my-0 pl-0 py-2 text-center text-md-left'>Feels like: <%= @current_temp_feels%>&#8451;</p>
              </div>
            </div><!-- row -->

            <div class ='row border-top'>
              <div class = 'col-md-1 d-none d-md-block'>
                <span class='mx-auto px-1 pe-7w-umbrella icon-xs'></span>
              </div>
              <div class = 'col-md-5'>
                <p class = 'my-0 pl-0 py-2 text-center text-md-left'><%=@current_percp%>&#37; chance of rain</p>
              </div>
              <div class = 'col-md-1 d-none d-md-block'>
                <span class='my-0 px-1 pe-7w-cloud-sun icon-xs'></span>
              </div>
              <div class = 'col-md-5'>
                <p class = 'my-0 pl-0 py-2 text-center text-md-left'><%=@current_humidity%>&#37; Humidity</p>
              </div>
            </div><!-- row -->
            <div class ='row border-top'>
                <div class = 'col-md-1 d-none d-md-block'>
                  <span class='mx-auto px-1 pe-7w-sun icon-xs'></span>
                </div>
                <div class = 'col-md-5'>
                  <p class = 'my-0 pl-0 py-2 text-center text-md-left'>UV Index: <span class = 'px-2 border rounded-circle w-25 <%=@uvindex%>'> <%=@current_uvindex%> </span></p>
                </div>
                <div class = 'col-md-1 d-none d-md-block'>
                  <span class='mx-auto px-1 pe-7w-cloud icon-xs'></span>
                </div>
                <div class = 'col-md-5'>
                  <p class = 'my-0 pl-0 py-2 text-center text-md-left'><%=@current_cloudcover%>&#37; Cloud Cover</p>
                </div>
            </div><!-- row -->
            <div class ='row border-top'>
              <div class = 'col-md-2 d-none d-md-block'>
                <span class='mx-auto px-1 pe-7w-wind icon-xs'></span>
              </div>
              <div class = 'col-md-10'>
                <p class = 'my-0 py-2 text-center text-md-left'>Wind Speed: <%=@current_windspeed%>mph</p>
              </div>
            </div><!-- row -->
            <div class ='row'>
              <div class = 'col-md-2 d-none d-md-block'>
                <span class='mx-auto px-1 pe-7w-wind icon-xs'></span>
              </div>
              <div class = 'col-md-10'>
                <p class = 'my-0 py-2 text-center text-md-left'>Wind Gusts: <%=@current_windgust%>mph</p>
              </div>
            </div><!-- row -->
        </div> <!-- jumbotron -->
      </div>
    </div>
    
    <div class='row'>
    	<h5 class = 'mx-auto'>Weekly forecast: <em class='font-weight-light'><%=@weekly_summary%></em></h5>
    </div>

    <div class='row'> 
      <div class = 'col-md-2 col-xs-1'>
        <div class = 'jumbotron p-1 text-center rounded border'>
          <i class='<%=@day_one_icon%> icon-sm'></i>
          <p class = 'my-0 text-center'>Hi: <%=@day_one_hi%>&#8451;</p>
          <p class = 'my-0 text-center'>Low: <%=@day_one_low%>&#8451;</p>
          <h5> <%=@day_one_time.strftime("%a")%></h5>
        </div>
      </div>
      <div class = 'col-md-2 col-xs-1'>
        <div class = 'jumbotron p-1 text-center rounded border'>
          <i class='<%=@day_two_icon%> icon-sm'></i>
          <p class = 'my-0 text-center'>Hi: <%=@day_two_hi%>&#8451;</p>
          <p class = 'my-0 text-center'>Low: <%=@day_two_low%>&#8451;</p>
          <h5> <%=@day_two_time.strftime("%a")%></h5>
        </div>
      </div>
      <div class = 'col-md-2 col-xs-1'>
        <div class = 'jumbotron p-1 text-center rounded border'>
          <i class='<%=@day_three_icon%> icon-sm'></i>
          <p class = 'my-0 text-center'>Hi: <%=@day_three_hi%>&#8451;</p>
          <p class = 'my-0 text-center'>Low: <%=@day_three_low%>&#8451;</p>
          <h5> <%=@day_three_time.strftime("%a")%></h5>
        </div>
      </div>
      <div class = 'col-md-2 col-xs-1'>
        <div class = 'jumbotron p-1 text-center rounded border'>
          <i class='<%=@day_four_icon%> icon-sm'></i>
          <p class = 'my-0 text-center'>Hi: <%=@day_four_hi%>&#8451;</p>
          <p class = 'my-0 text-center'>Low: <%=@day_four_low%>&#8451;</p>
          <h5> <%=@day_four_time.strftime("%a")%></h5>
        </div>
      </div>
      <div class = 'col-md-2 col-xs-1'>
        <div class = 'jumbotron p-1 text-center rounded border'>
          <i class='<%=@day_five_icon%> icon-sm'></i>
          <p class = 'my-0 text-center'>Hi: <%=@day_five_hi%>&#8451;</p>
          <p class = 'my-0 text-center'>Low: <%=@day_five_low%>&#8451;</p>
          <h5> <%=@day_five_time.strftime("%a")%></h5>
        </div>
      </div>
      <div class = 'col-md-2 col-xs-1'>
        <div class = 'jumbotron p-1 text-center rounded border'>
          <i class='<%=@day_six_icon%> icon-sm'></i>
          <p class = 'my-0 text-center'>Hi: <%=@day_six_hi%>&#8451;</p>
          <p class = 'my-0 text-center'>Low: <%=@day_six_low%>&#8451;</p>
          <h5> <%=@day_six_time.strftime("%a")%></h5>
        </div>
      </div> 
    </div>
    <p class = 'text-muted my-0 text-center'> <em>Last Updated on </em> <%=@current_time.strftime("%d %b %y @ %k:%M ")%></p> 
    <p class = 'text-muted p-0 m-0'>Powered by <a href='https://www.darksky.net'>Darksky</a></p>
  </div>

    <div id='latest_data' class="jumbotron p-1 p-md-5 text-center text-white rounded bg-secondary">
    <h3 class='mb-4'>Live Conditions</h3>
    <% unless @measures[0].nil? %>
      <div class='row border-bottom'>
        <div class = 'col'> 
          <h5 class = 'mx-auto'><em>Live</em> Garden Conditions</h5>
        </div>
      </div><!--row -->

      <div class ='row pb-3'>
        <div class = 'col-md-1 d-none d-md-block'>
          <span class='mx-auto px-3 pe-7w-thermometer-full icon-xs'></span>
        </div>
        <div class = 'col-md-5'>
          <p class = 'my-0 pl-0 py-2 text-center text-md-left'>Outside Air Temperature:   <%=@measures[0].temp_out%>&#8451;</p>
        </div>
        <div class = 'col-md-1 d-none d-md-block'>
          <span class='mx-auto px-3 pe-7w-cloud-sun icon-xs'>  </span>
        </div>  
        <div class = 'col-md-5'>
          <p class = 'my-0 pl-0 py-2 text-center text-md-left'>Humidity:  <%=@measures[0].humidity_out%>%</p>
        </div>
      </div><!-- row -->
    <div class = 'row border-bottom'>
    <div class = 'col'>
          <h5 class = 'mx-auto'><em>Live</em> Green House Conditions</h5>
        </div>
    </div>
      <div class ='row'>
        <div class = 'col-md-1 d-none d-md-block'>
          <span class='mx-auto px-3 pe-7w-thermometer-full icon-xs'></span>
        </div>
        <div class = 'col-md-5'>
          <p class = 'my-0 pl-0 py-2 text-center text-md-left'>Green House Air Temperature:   <%=@measures[0].temp_in%>&#8451;</p>
        </div>
        <div class = 'col-md-1 d-none d-md-block'>
          <span class='mx-auto px-3 pe-7w-cloud-sun icon-xs'>  </span>
        </div>  
        <div class = 'col-md-5'>
          <p class = 'my-0 pl-0 py-2 text-center text-md-left'>Humidity:  <%=@measures[0].humidity_in%>%</p>
        </div>
      </div><!-- row -->
  
      <p class = 'text-center'>Last Updated: <%=@measures[0].created_at.strftime("%d %b %y @ %k:%M ")%> </p> 
      
      
    <% end %>
    
  </div>


  <!--<%= line_chart charts_hour_temp_out_path, refresh: 60, xtitle: "Time", ytitle: "Temperature", messages:{empty: "Sorry.... No Data Yet!"}%>
  <%= line_chart charts_hour_temp_in_path, refresh: 60, xtitle: "Time", ytitle: "Temperature", messages:{empty: "Sorry.... No Data Yet!"}%>
  <%= line_chart charts_hour_humidity_out_path, refresh: 60, xtitle: "Time", ytitle: "Humidity", suffix: "%", messages:{empty: "Sorry.... No Data Yet!"}%>
  <%= line_chart charts_hour_humidity_in_path, refresh: 60, xtitle: "Time", ytitle: "Humidity", suffix: "%", messages:{empty: "Sorry.... No Data Yet!"}%>-->

  <%= link_to 'Remove All', remove_all_measures_path, class: 'btn btn-sm btn-outline-danger' %>
