<p id="notice"><%= notice %></p>

<p>
  <strong>Temp out:</strong>
  <%= @measure.temp_out %>
</p>

<p>
  <strong>Temp in:</strong>
  <%= @measure.temp_in %>
</p>

<%= link_to 'Edit', edit_measure_path(@measure) %> |
<%= link_to 'Back', measures_path %>
